@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Azeret+Mono:wght@900&family=Exo:wght@300&family=Jockey+One&family=Merriweather+Sans:wght@500&family=Orbitron:wght@900&family=Poppins:wght@300&family=Ruslan+Display&display=swap");
:root {
  --content-color: #fafafa;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
  overflow: hidden;
}
canvas {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.label {
  user-select: none;
  cursor: pointer;
  z-index: 3;
  font-size: 12px;
  gap: 2px;
  color: rgba(255, 255, 255, 0.753);
  position: absolute;
  width: fit-content;
  display: none;
}


.label:hover {
  color: white;
}
.label-text {
  line-height: 10px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: -0.01px;
  left: 17px;
}
.label-text:hover {
  color: white;
}

.label-text-sat {
  line-height: 10px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: -0.01px;
  left: 17px;
  color: white;
}

.label-text-sat:hover {
  color: white;
}


.logo {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}
#travel_stats {
  z-index: 6;
  font-family: "Exo", sans-serif;
  font-size: 1.5rem;
  position: relative;
  top: 10px;
  opacity: 0;
  font-weight: 500;
  transition: opacity 0.2s ease-in-out;
}
#travel_stats.is-visible {
  opacity: 1;
}
#travel_stats .bold-text {
  font-weight: bold;
}
.label-ring {
  z-index: 3;
  background-color: transparent;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid var(--content-color);
}

.label-square{
  z-index: 3;
  background-color: transparent;
  border-radius: 10%;
  width: 12px;
  height: 12px;
  border: 1px solid white;
}

.label-diamond{
  z-index: 3;
  background-color: transparent;
  border-radius: 10%;
  width: 12px;
  height: 12px;
  -ms-transform: rotate(45deg); /* IE 9 */
  transform: rotate(45deg);
  border: 1px solid white;
}


.footer {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #ffffff8a;
  left: 10px;
  letter-spacing: 1px;
  z-index: 4;
  font-weight: 500;
}
.footer .bold-t {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.date-time {
  position: absolute;
  top: 5%;
  z-index: 2;
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  font-family: "Exo", sans-serif;
}
.date-time .date {
  font-size: 1rem;
  color: rgba(232, 235, 235, 0.74);
  margin-bottom: 10px;
  font-weight: 500;
}
.date-time .time {
  font-size: 1.7rem;
  font-family: "Exo", sans-serif;
  color: white;
  font-weight: 600;
}
.page {
  display: none;
  font-family: "Roboto", sans-serif;
  padding: 0 0.5em;
}
body {
  background-color: black;
  /* background-size: 100%;
  background-image: url("assets/load.gif");
  background-repeat: no-repeat;
  background-position: center; */
}

#loading {
  position: fixed;
  z-index: 100;
  text-align: center;
  font-family: Orbitron, sans-serif;
  font-weight: 500;
  font-size: 12rem;
  line-height: 132px;
  animation: lol 6s infinite;
  letter-spacing: 0.28em;
  background-image: linear-gradient(
    180deg,
    #ffffff 35.94%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
@keyframes lol {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.content .close-svg line {
  stroke: rgba(187, 187, 187, 0.603);
}
.content .close-svg:hover line {
  stroke: white;
}
.content .close-svg {
  height: 20px;
  width: 20px;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
}
.content.is-not-visible {
  transform: translateX(-110%);
  opacity: 0;
}
.content .content-wrap.is-not-visible {
  display: none;
}
.content .loader {
  border: 16px solid transparent;
  border-top: 16px solid var(--content-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -50px;
}
.content .loader.is-visible {
  display: block;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.content {
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  display: block;
  font-family: Exo, Helvetica, Arial, sans-serif;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
  height: 70%;
  top: 10%;
  width: 500px;
  background: #00000050;
  border: 0.5px #333333 solid;
  padding-bottom: 50px;
  min-width: 500px;
  max-width: 500px;
}
.bring-content-back {
  cursor: pointer;
  writing-mode: vertical-rl;
  text-align: center;
  line-height: 1.5;
  position: absolute;
  top: 10%;
  display: none;
  z-index: 2;
  background-color: #00000050;
  border: 0.5px #333333 solid;
  width: 30px;
  height: 150px;
  font-size: 18px;
}
.content h1 {
  margin-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 70px;
}

.planet_type {
  padding: 1rem;
  font-weight: bold;
}

.planet_desc {
  max-width: 460px;
  line-height: 1.4em;
  word-wrap: break-word;
  margin: 1.5rem;
  text-align: justify;
}
.other_data .num .unit {
  color: white;
  font-size: 12px;
  top: -15%;
  position: relative;
  margin-left: 5px;
  font-weight: 500;
}
.other_data {
  margin-top: 3rem;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(100% - 2em);
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: auto auto auto auto;
  gap: 0.6em 0.9em;
}
.content .planet_image {
  margin-left: 1rem;
  margin-right: 1rem;
  width: calc(100% - 2rem);
  max-height: 200px;
  text-align: center;
  height: 200px;
  background-size: cover;
  background-position: center;
}
.other_data .num {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.planet_data {
  display: grid;
  margin: 0.7rem;
  text-transform: uppercase;

  border-bottom: 1px solid white;
}
.num {
  color: var(--content-color);
}

.info{
  font-weight: bold;
}

.search-bar {
  position: absolute;
  display: block;
  margin: 1rem;
  z-index: 5;
  border: 1px hsla(0, 0%, 100%, 0.2) solid;
  border-radius: 1.9rem;
  bottom: 0;
  left: 40%;
  font-family: "Roboto", sans-serif;
  background-color: #00000050;
  overflow: hidden;
}

.search-bar:hover{
  border: 1px rgb(170, 170, 170) solid;
}

.search-bar .search-holder ul {
  text-align: center;
  user-select: none;
}


.search-bar .search-holder ul li {
  height: 50px;

  line-height: 50px;
  color: #dcdfe0cb;
  text-transform: capitalize;
  border-bottom: 1px hsla(0, 0%, 100%, 0.2) solid;
  width: 100%;
  cursor: pointer;
}
.search-bar .search-holder ul li:hover {
  background-color: rgb(75, 75, 75);
  color: white;
}

.search-bar-input::placeholder:hover{
  color: white;
}
.search-bar .search-bar-input {
  height: 3em;
  min-width: 250px;
  padding: 0.5em 1.25em 0.5em 3.5em;
  background: none;
  outline: none;
  color: white;
  font-size: 0.85em;
  opacity: 0.75;
  border: none;
}


/* loader css */

#lds-hourglass{
  position: absolute;
  top: 45%;
  left: 45%;
  position: fixed;
  z-index: 1000;
  text-align: center;
}

.lds-hourglass .lds-loader-text{
  z-index: 1000;
  margin: 0.5rem;
  font-family: "Exo", sans-serif;
  font-size: 2rem;

}
.lds-hourglass {
  display: none;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 60px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
