@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Azeret+Mono:wght@900&family=Exo:wght@300&family=Jockey+One&family=Merriweather+Sans:wght@500&family=Orbitron:wght@900&family=Poppins:wght@300&family=Ruslan+Display&display=swap');
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
  overflow: hidden;
}
canvas {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.label {
  user-select: none;
  cursor: pointer;
  z-index: 3;
  font-size: 12px;
  gap: 2px;
  color: rgba(255, 255, 255, 0.753);
  position: absolute;
  width: fit-content;
  display: flex;
}
.label:hover {
  color: white;
}
.label-text {
  line-height: 10px;
  font-family: "Roboto", sans-serif;
}
.logo {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}
.label-ring {
  z-index: 3;
  background-color: transparent;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid;
}
.date-time {
  position: absolute;
  top: 10%;
  z-index: 2;
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  font-family: "Exo", sans-serif;
}
.date-time .date {
  font-size: 1rem;
  color: rgba(232, 235, 235, 0.74);
}
.date-time .time {
  font-size: 1.7rem;
  font-family: "Exo", sans-serif;
  color: white;
}
.page {
  display: none;
  font-family: "Roboto", sans-serif;
  padding: 0 0.5em;
}
body {
  background-color: black;
  /* background-size: 100%;
  background-image: url("assets/load.gif");
  background-repeat: no-repeat;
  background-position: center; */
}

#loading {
  position: fixed;
  z-index: 100;
  text-align: center;
  font-family: Orbitron, sans-serif;
  font-weight: 500;
  font-size: 12rem;
  line-height: 132px;
  animation: lol 6s infinite;
  letter-spacing: 0.28em;
  background-image: linear-gradient(
    180deg,
    #ffffff 35.94%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
@keyframes lol {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.content{
  padding: 75px 0px 0px;
  display: block;
  font-family: Exo, Helvetica, Arial, sans-serif;
 
  height: 100%;
  position: absolute;
  z-index:3;
  background: black;
}
.content h1{
  margin-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
}

.planet_type{
  padding: 1rem;
  font-weight:bold;

}

.planet_image{
  max-width: 375px;
  text-align: center;
}

.planet_desc{
  padding: 0.5rem;
  max-width: 375px;
  line-height: 1.4em;
  word-wrap: break-word;
}

.other_data{
  margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2vw;
    margin-right: 2vw;
    width: calc(100% - 2vw*2);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 1em 1.2em;
}

.other_data .num{
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.planet_data{
  display: grid;

}