body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
  overflow: hidden;
}
canvas {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.label {
  user-select: none;
  cursor: pointer;
  z-index: 3;
  font-size: 12px;
  gap: 2px;
  color: rgba(255, 255, 255, 0.753);
  position: absolute;
  width: fit-content;
  display: flex;
}
.label:hover {
  color: white;
}
.label-text {
  line-height: 10px;
  font-family: "Roboto", sans-serif;
}
.logo {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}
#travel_stats {
  z-index: 6;
  font-family: "Exo", sans-serif;
  font-size: 1.5rem;
  position: relative;
  top: 10px;
  opacity: 0;
  font-weight: 500;
  transition: opacity 0.2s ease-in-out;
}
#travel_stats.is-visible {
  opacity: 1;
}
#travel_stats .bold-text {
  font-weight: bold;
}
.label-ring {
  z-index: 3;
  background-color: transparent;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid;
}
.footer {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #ffffff8a;
  left: 10px;
  letter-spacing: 1px;
  z-index: 4;
  font-weight: 500;
}
.footer .bold-t {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.date-time {
  position: absolute;
  top: 5%;
  z-index: 2;
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  font-family: "Exo", sans-serif;
}
.date-time .date {
  font-size: 1rem;
  color: rgba(232, 235, 235, 0.74);
  margin-bottom: 10px;
  font-weight: 500;
}
.date-time .time {
  font-size: 1.7rem;
  font-family: "Exo", sans-serif;
  color: white;
  font-weight: 600;
}
.page {
  display: none;
  font-family: "Roboto", sans-serif;
  padding: 0 0.5em;
}
body {
  background-color: black;
  /* background-size: 100%;
  background-image: url("assets/load.gif");
  background-repeat: no-repeat;
  background-position: center; */
}

#loading {
  position: fixed;
  z-index: 100;
  text-align: center;
  font-family: Orbitron, sans-serif;
  font-weight: 500;
  font-size: 12rem;
  line-height: 132px;
  animation: lol 6s infinite;
  letter-spacing: 0.28em;
  background-image: linear-gradient(
    180deg,
    #ffffff 35.94%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
@keyframes lol {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
